@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
body {
  background-image: linear-gradient(to left,rgb(99, 99, 99),rgb(27, 27, 27));
}
a:hover{
  text-decoration: none !important;
}
.info-usuario {
  height: 40px;
  text-align: right;
  color: white;
  background-image: linear-gradient(to left,rgb(74, 204, 198),rgb(75, 159, 238));
}
.usua{
  font-size: 22px;
  font-weight: 800;
  padding-top: 3px;
  margin-right: 15px;
  margin-bottom: -20px;
}
.titulo>h1{
  float: right;
  margin-left: 10px;
}
.logotipo{
  margin-top: -24px;
  margin-left: 10px;
  width: 260px;
  height: 95px;
}
.perfil {
  position: fixed;
  top: 38px;
}
nav {
  display: flex;
  height: 95px;
  width: 100%;
  background-image: linear-gradient( #464646,rgb(20, 20, 20));
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  overflow: hidden;
  text-shadow: 1px 1px 3px #2ee446;
  z-index: 999999;
  position: relative;
}
nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  text-shadow: 1px 1px 3px #e22019;
  padding: 20px;
}

.titulo > h1 {
  font-size: 35px;
  font-weight: 400;
}
.titulo img {
  float: left;
  display: flex;
}
/* Follow */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active {
  color: rgb(182, 24, 24);
  background: transparent;
  border: 2px solid #4c84af;
}
nav ul li a.active:hover {
  color: rgb(204, 20, 20);
  background: transparent;
  border: 2px solid #4c84af;
  text-shadow:1px 1px 3px #0091ff;
}
nav ul li a:hover {
  color: rgb(245, 240, 240);
  background: rgb(212, 47, 47);
  text-shadow: 2px 2px 3px #30df2a;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1200px) {
  nav {
    padding: 0 40px 0 50px;
  }
  nav ul li a.active {
    color: white;
    background: transparent;
    border: 0px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    /*Cambiar Altura*/
    top: 0px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 300px;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  nav ul li a.active  {
    color: white;
    background: transparent;
    border: 0px;
  }
  a:focus{
    background-color: #0091ff;
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}
.col-3{
    height: auto;
}
.row{
  padding: auto;
  width: 1300px;
}
.container{
  margin: 15px;
  margin-left: 20px;
}
.titulo-principal{
  text-align: center;
  align-items: center;
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.card-img-top{
  border-radius: 13px;
}

